@model EducationPortal.WEB.Models.ViewModel.SkillModel

@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_AdminMainPageLayout.cshtml";
}

<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-10  border rounded-lg bg-light my-3">
            <div class="row justify-content-center">
                @using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post, new { enctype = "multipart/form-data", @class = "w-75" }))
                {
                    <h5 class="text-center text-uppercase mt-2">Редактор статьи</h5>
                    @Html.AntiForgeryToken()

                    <div>
                        @Html.HiddenFor(x => x.Id)
                        <div class="form-group">
                            @Html.LabelFor(x => x.SkillName)
                            @Html.EditorFor(x => x.SkillName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.SkillName, null, new { @class = "text-danger help-block" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.SkillScore)
                            @Html.EditorFor(x => x.SkillScore, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.SkillScore, null, new { @class = "text-danger help-block" })
                        </div>
                        <div class="d-flex justify-content-center my-2">
                            <button type="submit" class="btn btn-primary mx-1">
                                <i class="fa fa-floppy-o"></i>
                            </button>
                            <a class="btn btn-outline-danger mx-1" href="@Url.Action("AdminPanelSkill", "Skill", new { id = -1 })">
                                <i class="fa fa-ban"></i>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>